.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto 300px;
    margin-left: 350px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 60%;
    height: 80%;
    background-color: inherit;
    color: var(--text);
    overflow-y: scroll;
    font-family: 'Quicksand', sans-serif;
}
.profile::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border-radius: 12px;
  }
  
.profile:-webkit-scrollbar-track {
    background-color: transparent;
  }
  
.profile::-webkit-scrollbar-thumb {
    background-color: #cfbfbf;
    border-radius: 12px;
  }
  
.profile-body{
    width: 100%;
}
.profile-body-top{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 1000px;
}
.profile-body-top h1{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 40px;
    letter-spacing:.2em;
    color: var(--text);
    margin-bottom: 10px;
}
.profile-info{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}
.profile-bio{
    width: 50%;
    margin-left: 60px;
    text-align: justify;
    margin-bottom: 20px;
}
.profile-bio p{
    font-size: 14px;
    line-height: 1.5;
}
.profile-body-top .profile-stats{
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.profile-body-top .profile-stat p{
    text-align: center;
}
.profile-body-bottom .profile-nav{
    margin-bottom: 20px;
    margin-top: 20px;
}
.profile-body-bottom .profile-nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    border-bottom: 1px solid var(--text);
}
.profile-body-bottom .profile-nav ul li{
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
}
.profile-body-bottom .profile-nav ul li:hover{
    color: var(--accent);
    cursor: pointer;
}
.profile-body-bottom .profile-nav ul li span{
    margin-right: 5px;
}
.profile-posts{
    width: 1000px
}
.profile-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-self: center;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--text);
    overflow-x: hidden;
}
.profile-post img, .profile-post video{
    width: 250px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .profile-post:empty {
    display: none;
  }
  
  .relationships{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin: auto 300px;
    margin-left: 700px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    width: 20%;
    height: 80%;
    background-color: var(--container);
    color: var(--text);
    font-family: 'Quicksand', sans-serif;
  }
  .relationships-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
  .relationships-header .link:active{
    color: var(--accent);
  }