<!DOCTYPE html>
<html>
  <head>
    <style>
    .welcome-body {
        font-family: Georgia, serif;
        color: #333333;
        background-color: #FFFFFF;
        box-shadow: 3px 3px red, -1em 0 .4em olive;
        width: 400px;
        padding: 4px 6px;
    }
    h5 {
        font-size: 16px;
        font-weight: 600;
    }
    img{
        width: 100px;
        height: 100px;
    }
    p {
        margin-bottom: 10px;
    }
</style>
  </head>
  <body>
    <div className="welcome-body">
    <img src="../assets/logo.png" alt="logo" />

    <h5> Hey there, <b><%= username %>!</b></h5>

    <p></p>Welcome to Solitaro, where digital adventures
    reach new heights! Discover captivating content, connect with awesome
    people, and let your talents shine. Solitaro is not just another social
    media platform; it's your vibrant community where friendships bloom,
    curiosity runs wild, and laughter knows no bounds. Get ready to dive in,
    explore, and flourish like a true Solitaro champ.</p> 
    
    <p>We can't wait to see the magic you'll bring to our fantastic community.</p> 

    <h5>Welcome aboard!🎉</h5>

    <p><%= sender %></p>
  </body>
</div>
</html>
